*{
    gap: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    min-height: 100vh;
}
.botaoPaginacao {
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 10px 20px; 
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
  }
  
  .botaoPaginacao:hover {
    background-color: white; 
    color: #4CAF50; 
  }

  .botaoSelecionado {
    background-color: #45a049;
    border: #4CAF50;
    color: white;
  }
  
  .selectMenu {
    padding: 25px 25px;
    font-size: 16px;
    border-radius: 12px;
    border: #4CAF50;
    background-color: white;
    color: #4CAF50;
    cursor: pointer;
  }
  
  .selectMenu:hover {
    background-color: #4CAF50;
    color: white;
  }
  .menuQ{
    min-height: 100px;
  }
  